/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    font-family: 'Montserrat', sans-serif;
  }
#certification {
    & .img-fluid {
        max-width: 60% !important;
    }

    & .accordion {
        & .accordion-item {
            & .accordion-header {
                & .accordion-button {
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: #000;

                    &.collapsed {
                        color: darkgray;
                    }

                    &:hover {
                        color: #00cef2;
                    }
                }
            }


        }
    }


}