#testimonialSec{
    & .comment{
        color: #fff;
        font-size: 1.5rem;
        font-style: italic;
        padding: 0 2.5rem;
        margin-bottom: 1.5rem;

        @media only screen and (max-width: 576px){
            &{
                font-size: 1rem;
            }
        }
    }

    & .des{
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;

        @media only screen and (max-width: 576px){
            &{
                font-size: 0.9rem;
            }
        }
    }

    & .Designation{
        color: #fff;
    }
}