/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    font-family: 'Montserrat', sans-serif;
  }

.seoServices {
    height: 70vh;
    width: 100%;
    background-image: url("../../../../../Assets/Image/Background/seoServices.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (max-width: 576px) {
        & {
            height: auto;
        }
    }

    @media only screen and (min-width: 577px) and (max-width: 992px){
        &{
            height: auto;
        }
    }
}