#contact {
    h1 {
        font-size: 1.5rem;
    }

    h2{
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    & .MuiListItem-root {
        width: fit-content;

        & .MuiBox-root {
            cursor: pointer;

            & .MuiLink-root {
                & .MuiListItemIcon-root {
                    font-size: 1.5rem !important;
                    min-width: fit-content !important;
                }
            }
        }
    }

}