/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    font-family: 'Montserrat', sans-serif;
  }
#contact {
    h1 {
        font-size: 1.5rem;
    }

    h2{
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    & .MuiListItem-root {
        width: fit-content;

        & .MuiBox-root {
            cursor: pointer;

            & .MuiLink-root {
                & .MuiListItemIcon-root {
                    font-size: 1.5rem !important;
                    min-width: fit-content !important;
                    
                }
            }
        }
    }

    & .MuiListItemIcon-root{
        display: contents !important;
    }

}