/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    font-family: 'Montserrat', sans-serif;
  }
.seoSection{
    height: 84vh;
    width: 100%;
    background-image: url("../../../../../Assets/Image/Background/seoSection.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media only screen and (max-width: 576px){
        & {
            height: auto;
            padding: 1.5rem 0 0 0;
        }
    }

    @media only screen and(min-width: 577px) and(max-width: 992px){
        &{
            height: auto;
        }
    }

    & p{
        font-size: 1rem;
        color: #54595f;

        & strong{
            color: #000;
        }
    }
}